.qna {
    padding-top: 25px;
    textarea {
        color: #fff;
        &:focus {
            border-color: #fff;
        }
    }
    &__lst {
        &-itm {
            padding: 15px;
            border: 2px solid #fff;
            margin-bottom: 75px;
            &-top {
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                &-r {
                    text-align: right;
                }
            }
            &-question {
                border: 2px dotted #fff;
                padding: 15px;
                margin-bottom: 15px;
            }
            &-answer {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                &-ttl {
                    align-self: flex-start;
                    padding-bottom: 15px;
                }
                &-field {
                    margin-bottom: 15px;
                }
            }
        }
    }
}
