.about {
    margin-bottom: 165px;
    @include media_1199 {
        margin-bottom: 130px;
    }
    @include media_991 {
        margin-bottom: 105px;
    }
    .container {
        @include media_1099 {
            padding: 0 25px;
        }
    }
    &__cnt {
        display: flex;
        background-color: #2B2728;
        border-radius: 25px;
        padding: 46px 75px 71px 46px;
        @include media_1399 {
            padding: 50px;
        }
        @include media_991 {
            flex-direction: column;
            padding: 30px 25px;
        }
    }
    &__l {
        width: 800px;
        max-width: 100%;
        @include media_1599 {
            width: 600px;
        }
        @include media_1399 {
            width: 460px;
        }
    }
    &__r {
        opacity: .7;
        width: calc(100% - 800px);
        padding-top: 30px;
        padding-left: 23px;
        @include media_1599 {
            width: calc(100% - 600px);
        }
        @include media_1399 {
            width: calc(100% - 460px);
        }
        @include media_991 {
            width: 100%;
            padding-left: 0;
        }
    }
}
