.advantages {
    margin-bottom: 164px;
    @include media_1199 {
        margin-bottom: 95px;
    }
    @include media_767 {
        margin-bottom: 75px;
    }
    .container {
        max-width: 1450px;
        @include media_1499 {
            max-width: 1200px;
        }
        @include media_1399 {
            max-width: 980px;
        }
        @include media_1199 {
            max-width: 900px;
        }
        @include media_991 {
            max-width: 100%;
            padding: 0 25px;
        }
    }
    &__cnt {
        display: flex;
        justify-content: space-between;
        @include media_991 {
            flex-wrap: wrap;
        }
    }
    &__l {
        width: 680px;
        margin-right: 50px;
        @include media_991 {
            margin-right: 0;
        }
        &-txt {
            opacity: .7;
            margin-bottom: 30px;
        }
        &-btn {
            width: 314px !important;
            margin-bottom: 30px;
        }
        &-audit {
            display: flex;
            @include media_991 {
                flex-wrap: wrap;
                margin-bottom: 20px;
            }
            &-txt {
                opacity: .7;
                margin-right: 11px;
                @include media_991 {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }
            &-lnk {
                position: relative;
                color: $c-red;
                padding-left: 27px;
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 1px;
                    width: 19px;
                    height: 19px;
                    background-image: url('../../img/audit.svg');
                }
            }
        }
    }
    &__r {
        width: 630px;
        &-ttl {
            display: flex;
            align-items: center;
        }
        &-txt {
            opacity: .7;
            &:first-of-type {
                margin-bottom: 60px;
            }
        }
    }
}
