.trust {
    margin-bottom: 175px;
    @include media_1199 {
        margin-bottom: 95px;
    }
    @include media_767 {
        margin-bottom: 75px;
    }
    .container {
        max-width: 1450px;
        @include media_1499 {
            max-width: 1200px;
        }
        @include media_1399 {
            max-width: 980px;
        }
        @include media_1199 {
            max-width: 900px;
        }
        @include media_991 {
            max-width: 100%;
            padding: 0 25px;
        }
    }
    &__ttl {
        margin-bottom: 55px;
        @include media_991 {
            margin-bottom: 30px;
        }
    }
    &__lst {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-itm {
            width: 423px;
            background-color: #2B2728;
            border-radius: 25px;
            padding: 40px 34px 34px;
            margin-bottom: 90px;
            @include media_1499 {
                width: 31%;
                margin-bottom: 75px;
            }
            @include media_1199 {
                width: 31%;
                margin-bottom: 40px;
            }
            @include media_991 {
                padding: 30px;
            }
            @include media_767 {
                width: 100%;
                margin-bottom: 30px;
            }
            &-icon {
                position: relative;
                width: 80px;
                height: 85px;
                background-image: url('../../img/trust-bg.png');
                background-size: cover;
                background-repeat: no-repeat;
                margin-bottom: 11px;
                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                &._1 {
                    &::before {
                        background-image: url('../../img/trust-1.svg');
                        width: 31px;
                        height: 37.78px;
                    }
                }
                &._2 {
                    &::before {
                        background-image: url('../../img/trust-2.svg');
                        width: 40px;
                        height: 40px;
                    }
                }
                &._3 {
                    &::before {
                        background-image: url('../../img/trust-3.svg');
                        width: 40px;
                        height: 40.02px;
                    }
                }
                &._4 {
                    &::before {
                        background-image: url('../../img/trust-4.svg');
                        width: 40px;
                        height: 37px;
                    }
                }
                &._5 {
                    &::before {
                        background-image: url('../../img/trust-5.svg');
                        width: 40px;
                        height: 40px;
                    }
                }
                &._6 {
                    &::before {
                        background-image: url('../../img/trust-6.svg');
                        width: 40px;
                        height: 34.86px;
                    }
                }
            }
            &-ttl {
                margin-bottom: 18px;
            }
            &-txt {
                opacity: .7;
            }
        }
    }
    &__btm {
        background-color: #2B2728;
        background-image: url('../../img/trust-btm.png');
        background-size: auto;
        background-position: calc(100% - 56px) 70px;
        background-repeat: no-repeat;
        border-radius: 25px;
        padding: 171px 25px 183px 104px;
        @include media_1499 {
            background-size: 550px auto;
            padding: 120px 25px 125px 104px;
            background-position: calc(100% - 20px) 70px;
        }
        @include media_1399 {
            background-size: 500px auto;
            padding: 100px 25px 105px 60px;
            background-position: calc(100% - 20px) 70px;
        }
        @include media_1199 {
            background-size: 400px auto;
        }
        @include media_991 {
            background-image: none;
            padding: 30px 30px 0;
        }
        &-cnt {
            max-width: 493px;
            @include media_1399 {
                max-width: 380px;
            }
        }
        &-ttl {
            margin-bottom: 25px;
        }
        &-txt {
            opacity: .7;
            margin-bottom: 25px;
        }
        &-img {
            display: none;
            margin-top: 30px;
            @include media_991 {
                display: block;
            }
        }
    }
}
