.ReactModal__Content{
    border: 0!important;
    border-radius: 15px!important;
}
.modal{
    color: black;
    position: relative;
    padding: 30px 20px;
    width: 350px;
}
.modal_wallet{
    background: #fff!important;
}
.small-title{
    font-size: 28px;
}
.wallet__buttons{
    padding-top: 20px;
}
.wallet__button{
    background: #1E1A22;
    border: 1px solid #000000;
    border-radius: 50px;
    color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}
.modal_log{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: -30px;
    margin-left: -30px;
}
.close_modal{
    width: 30px;
    height: 30px;
    border: 0;
    background: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
}
.close_modal img{
    width: 100%;
}