.cabinet__menu-lst a{
    display: block;
    margin-bottom: 10px;
}
.cabinet__menu-lst-itm svg{
    margin-right: 10px;
}
.cabinet__menu-lst-itm svg path{
    fill: #777679;
}
.cabinet__menu-lst-itm._active svg path{
    fill: #000;
}
.modal__menu-itm svg{
    margin-right: 10px;
    margin-top: 5px;
}
.modal__menu-itm svg path{
    fill: #777679;
}
.modal__menu-itm._gray svg path{
    fill: #000;
}