.withdraw_buttons{
    padding-top: 30px;
}
.withdraw_button{
    background: #1E1A22;
    border: 1px solid #000000;
    border-radius: 50px;
    color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}