@mixin fontface($font_path, $font_name, $font_weight:400, $font_style:normal) {
    @font-face {
        font-family: $font_name;
        src: url('../../fonts/#{$font_path}.eot');
        src: url('../../fonts/#{$font_path}.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/#{$font_path}.woff') format('woff'),
        url('../../fonts/#{$font_path}.ttf') format('ttf');
        font-style: $font_style;
        font-weight: $font_weight;
        font-display: swap;
    }
}

// 100 Thin // 200 Extra Light // 300 Light
// 400 Regular // 500 Medium
// 600 Semi Bold // 700 Bold // 800 Extra Bold // 900 Black

// @include fontface('Roboto-Regular',
// 'Roboto',
// 400);
// @include fontface('Roboto-Bold',
// 'Roboto',
// 700);
// @include fontface('Roboto-ExtraBold',
// 'Roboto',
// 800);

// @include fontface('Inter-Regular',
// 'Inter',
// 400);
// @include fontface('Inter-Bold',
// 'Inter',
// 700);
