.arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 50px;
    right: 48px;
    z-index: 1;
    width: 28px;
    height: calc(100vh - 200px);
    @include media_1199 {
        display: none;
    }
    &__itm {
        display: block;
        width: 28px;
        height: 36px;
        background-size: contain;
        cursor: pointer;
        // &._prev {
        //     background-image: url('../../img/arrow-prev.svg');
        //     &:hover {
        //         background-image: url('../../img/arrow-prev-hover.svg');
        //     }
        // }
        // &._next {
        //     background-image: url('../../img/arrow-next.svg');
        //     &:hover {
        //         background-image: url('../../img/arrow-next-hover.svg');
        //     }
        // }
    }
}