.check {
    display: block;
    padding-left: 24px;
    &__inp {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
		/* Checked */
		&:checked + .check__box {
			background-color: #4A90E2;
			background-image: url(https://cdn.glitch.com/d6162378-5823-4160-a555-3d9789bd2b92%2Fcheck.svg?1550563475518);
        }
		/* Focused */
		&:focus + .check__box {
			border: 2px solid #4A90E2;
        }
		/* Disabled */
		&:disabled + .check__box {
            border: 3px solid #9B9B9B;
		}
		&:checked:disabled + .check__box {
			background-color: #9B9B9B;
		}
    }
    &__box {
        position: absolute;
        margin-top: 1px;
        margin-left: -24px;
        width: 18px;
        height: 18px;
        overflow: hidden;
        border-radius: 1px;
        background-color: white;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border: 3px solid #4A90E2;
    }
}