.container {
    position: relative;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    @include media_1799 {
        max-width: 1500px;
    }
    @include media_1599 {
        max-width: 1300px;
    }
    @include media_1399 {
        max-width: 1075px;
    }
    @include media_1099 {
        max-width: 100%;
    }
}
