.form {
    &__inp {
        outline: none;
        width: 100%;
        display: block;
        box-sizing: border-box;
        background: transparent;
        padding: 10px;
        border-radius: 0;
        font-size: 14px;
    }
    &__textarea {
        resize: none;
        outline: none;
        box-sizing: border-box;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    &__group {
        margin-bottom: 15px;
        position: relative;
        &_last {
            margin: 25px 0 0;
        }
        &_error {
            &,
            a {
                color: $c-error!important;
            }
            input {
                border-color: $c-error;
            }
        }
    }
    &__btn {
        width: 100%;
    }
}

.form-group {
    &_error {
        .form__inp, .check__box {
            border: 2px solid red;
        }
    }
}